<h1>Welcome to Larp Library!</h1>

<p>
  Your brand, <%= @brand.name %>, has been approved by an administrator.  You can now publish your larps.
</p>
<p>
  <%= link_to "To get started, go here.", absolute_url("/brands/#{@brand.to_param}") %>
</p>
