%h1 About Us

%ul.list-unstyled
  %li
    %strong Lead Developer:
    Nat Budin (natbudin AT gmail DOT com)
  %li
    %strong Curator:
    Eva Schiffer (valleyviolet AT gmail DOT com)
  %li
    A project of
    #{link_to "New England Interactive Literature", "http://interactiveliterature.org"}.

%p
  Larp Library is a Ruby on Rails application.  The source code for the app is available
  #{link_to "on Github", "https://github.com/neinteractiveliterature/larp_library"}.