%h1 About Us

%p
  Larp Library was made by #{mail_to "natbudin@gmail.com", "Nat Budin"} and is a project of 
  #{link_to "New England Interactive Literature", "http://interactiveliterature.org"}.
  
%p
  Larp Library is a Ruby on Rails application.  The source code for the app is available
  #{link_to "on Github", "https://github.com/neinteractiveliterature/larp_library"}.