%h1 About Us

%p
  Larp Library was made by #{mail_to "natbudin@gmail.com", "Nat Budin"} and is hosted by 
  #{link_to "Alleged Entertainment", "http://www.aegames.org"}.
  
%p
  Larp Library is a Ruby on Rails application.  The source code for the app is available
  #{link_to "on Github", "https://github.com/nbudin/larp_library"}.