- if project.authors.present?
  %li
    %em By #{project.authors}
    
- if project.tags.any?
  %li
    %ul.list-inline
      %li
        %strong Tags:
      - project.tags.sort_by(&:name).each do |tag|
        %li.label.label-default= tag.name