.panel.panel-default
  .panel-heading
    - if can? :edit, project
      .pull-right
        = link_to "Admin", [project.brand, project], class: "btn btn-default"
      
    = render 'projects/project_headers', project: project
      
  .panel-body    
    .row
      .col-md-8
        = truncate_html markdown(project.description), length: 500, omission: "... ".html_safe + link_to("(read more)", [project.brand, project], class: "expand")
      .col-md-4
        %ul.project-files.list-unstyled
          = render project.project_files