.panel.panel-default
  .panel-heading
    .pull-right
      = link_to "View", [project.brand, project], class: "btn btn-default"

    = render 'projects/project_headers', project: project

  .panel-body
    = truncate_html markdown(project.description), length: 500, omission: "... ".html_safe + link_to("(read more)", [project.brand, project], class: "expand")
