@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: Lora;
  font-style: normal;
  src: url('../fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Rouge Script";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/RougeScript-Regular.ttf');
}
