%h1
  Editing tag category: #{@tag_category.name}

%div
  Tags:
  - if @tag_category.tags.any?
    %ul.list-inline
      - @tag_category.tags.order(:name).each do |tag|
        = render tag, href: edit_tag_path(tag)
  - else
    none

= render partial: 'form', locals: { tag_category: @tag_category }