/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require s3_direct_upload_progress_bars
 *= require selectize
 *= require selectize.bootstrap3
 *= require_tree .
 */

@import "bootstrap_custom";

#topbar {
  width: 100%;
  margin-bottom: 10px;
}

.link-unstyled {
  color: $gray-base;
}

#globalnav {
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    list-style-type:none;
    margin-left: 8pt;
    margin-right: 8pt;
    padding: 0;
    font-size: $font-size-base * 1.25;
  }
}

#mainnav {
  background-color: $brand-primary;
  background: linear-gradient(to bottom, lighten($brand-primary, 7.5%), darken($brand-primary, 7.5%));
  
  min-height: 79px;
  width: 100%;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  > li {
    padding: 0;
    margin: 0;
    display: block;
    float: none;
  }
  
  @media (min-width: $screen-sm-min) { 
    display: table;
    
    > li {
      display: table-cell; 
      vertical-align: middle;
    }
  }
  
  @media (max-width: $screen-sm-max) {
    > li {
      text-align: center;
    }
  }
  
  a, a:visited {
    color: white;
  }
  
  .topbar-brand {
    font-family: Rouge Script;
    font-size: 48px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    
    a {
      color: white;
      
      &:hover, &:active {
        text-decoration: none;
      }
    }
  }
}