.panel.panel-default
  .panel-heading
    %h2{style: "margin: 0"}
      = link_to brand.name, brand, class: 'link-unstyled'
      
  .panel-body    
    = truncate_html markdown(brand.description), length: 500, omission: "... ".html_safe + link_to("(read more)", brand, class: "expand")