%h1 Publish your larps

- if current_user.brands.any?
  .alert.alert-warning
    %p
      %strong Hey #{current_user.name}!

    %p
      You're already signed up as a larp creator.  If you want to publish a larp under an existing brand, go to the
      brand page and click "new project."  Here are your current brands:

    %ul.list-inline
      - current_user.brands.uniq.sort_by(&:name).each do |brand|
        %li.list-inline-item= link_to brand.name, brand

%p
  Hi!  We're really glad you're interested in publishing your larps on Larp Library!  In order to get started, you
  first need to fill out a short form to become a larp creator on this site.  An administrator will review your
  submission and will get back to you as soon as possible.

= render partial: 'form'
