%h1 Brands pending approval

%table.table
  %thead
    %tr
      %th Name
      %th Creator
      %th Created at
      %th

  %tbody
    - @brands.order(:name).each do |brand|
      %tr
        %td= link_to brand.name, brand
        %td
          - if brand.creator
            = mail_to brand.creator.email, brand.creator.name
        %td= brand.created_at.to_date.to_s(:long)
        %td= link_to "Approve", [:approve, brand], method: "PATCH", class: "btn btn-success"
