name: Release

on:
  release:
    types: [published]

jobs:
  docker-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Pull built image
        run: docker pull ghcr.io/neinteractiveliterature/larp_library:${{ github.sha }}
      - name: Tag image with version Tag
        run: docker tag ghcr.io/neinteractiveliterature/larp_library:${{ github.sha }} ghcr.io/neinteractiveliterature/larp_library:${{ github.event.release.name }}
      - name: Tag image as latest
        run: docker tag ghcr.io/neinteractiveliterature/larp_library:${{ github.sha }} ghcr.io/neinteractiveliterature/larp_library:latest
      - name: Push to Docker Hub
        run: docker push ghcr.io/neinteractiveliterature/larp_library:latest && docker push ghcr.io/neinteractiveliterature/larp_library:${{ github.event.release.name }}
  fly-release:
    runs-on: ubuntu-latest
    needs:
      - docker-release
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only -a larp-library
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  notify-slack:
    runs-on: ubuntu-latest
    needs:
      - fly-release
    steps:
      - name: Format release notes for Slack
        id: format-release-notes
        uses: LoveToKnow/slackify-markdown-action@v1.1.1
        with:
          text: ${{ github.event.release.body }}
      - name: Post about release to Slack
        id: slack
        uses: slackapi/slack-github-action@v1.27.0
        with:
          channel-id: ${{ secrets.SlackReleaseNotificationChannelID }}
          payload: |
            {
              "text": "Larp Library ${{ github.event.release.name }} released to production",
              "unfurl_links": false,
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "Larp Library ${{ github.event.release.name }} released to production"
                  }
                },
                { "type": "divider" },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ${{ toJSON(steps.format-release-notes.outputs.text) }}
                  }
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SlackToken }}
